{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        
        
            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        All Orders
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th>#</th>
                                    <th scope="col">Order Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Sent Date</th>
                                    <th scope="col">Electrician</th>
                                    <th scope="col">Approval Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in all_orders %}                                
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="">{{ order.description }}</a></td>
                                    <td>{{ order.status }}</td>
                                    <td>{{ order.created.date }}</td>
                                    <td>{{ order.user }}</td>
                                    <td>{{ order.approval_date.date }}</td>
                                </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>                       
                        
                    </div>
                </div>
            </div>           
        
    </div>
</div>



{% endblock %}