{% extends 'partials/base.html' %}
{% block title %} Category Delete {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            {% if delete_category %}
            <div class="border bg-white p-3">
                <h3>Delete Category</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Are you sure you want to delete the category? </h4>
                </div>
                <div class="container">
                    <h6>{{category.category_name}}</h6>
                    <br>
                </div>
                <form method="POST">
                    {% csrf_token %}                    
                    <a class="btn btn-secondary" href="{% url 'categories' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Confirm">
                </form>
            </div>
            {% else %}
            
            <div class="border bg-white p-3">
                <h3>Delete Item</h3>
                <hr>
                <div class="alert alert-warning">
                    <h5>Cannot delete Category, because it has related products, please delete related products first. </h5>
                </div>
                <div class="container">
                    <h6>{{category.category_name}}</h6>
                    <br>
                </div>
                <form method="POST">
                    {% csrf_token %}                    
                    <a class="btn btn-info" href="{% url 'categories' %}">Go Back</a>                    
                </form>
            </div>
            
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
{% endblock %}