{% load crispy_forms_tags %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Menu
                </div>
                <div class="card-body">
                    <!-- <form method="POST" action=" url 'new-order' ">
                        csrf_token     
                        form                 
                        <input type="submit" class="btn btn-info btn-block"  value="Place a new order">                        
                    </form> -->
                    <a class="btn btn-info btn-block" href="{% url 'new-order' %}">Place a new order</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    My orders
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>#</th>
                                <th scope="col">Order Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Sent Date</th>
                                <th scope="col">Approval Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders_list %}
                                {%  if order.user == user  %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'order-detail' order.id %}">{{ order.description }}</a></td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.created.date }}</td>
                                <td>{{ order.approval_date.date }}</td>
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>