{% extends 'partials/base.html' %}
{% block title %} Formulario de prueba custom save {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<div class="container">
    <div class="row mt-4">
               
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Order Detail
                </div>
                <div class="card-body">                    
                    <section class="mb-5">                        
                        <div class="row">                            
                            <div class="col-md-12">                                
                                <h5>Description:{{order.description}}</h5>
                                <p class="mb-2 text-muted text-uppercase small">Status: {{order.status}}</p>
                                <p><span class="mr-1">PO: {{order.po.po_number}} </span></p>
                                <p><span class="mr-1">Owner: {{order.user.first_name}} {{order.user.last_name}} </span></p>
                                <p><span class="mr-1">Created: {{order.created}} </span></p>
                                
                                <p class="pt-1">Products:</p>
                                <hr>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless mb-0">
                                            <tbody>
                                                <tr>
                                                    <th class="pl-0 col-1" scope="row"><strong>N#</strong></th>
                                                    <th class="pl-0 col-7" scope="row"><strong>Product</strong></th>
                                                    <th class="pl-0 col-2" scope="row"><strong>Quantity</strong></th>
                                                    <th class="pl-0 col-2" scope="row"><strong>Category</strong></th>                                                    
                                                </tr>
                                                {% for product in products %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{ product.product }}</td>
                                                    <td>{{ product.quantity }}</td>
                                                    <td>{{ product.product.category }}</td>
                                                </tr>
                                                {% endfor %}                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <div class="table-responsive mb-2">                    
                                    </div>
                                    {% if user.is_authenticated and user.is_staff %}
                                    <a href="{% url 'all-orders' %}" type="button" class="btn btn-primary btn-md mr-1 mb-2">Go back</a>
                                    {% else %}
                                    <a href="{% url 'index' %}" type="button" class="btn btn-primary btn-md mr-1 mb-2">Go back</a>
                                    {% endif %}
                                    </div>
                                </div>
                                
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
             
        {% endblock %}