{% extends 'partials/base.html' %}
{% block title %} Products Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated and user.is_staff %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-3">               
            
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}                        
                    
                    <input class="btn btn-success btn-block" type="submit" value="Add Product">
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col" class="col-1" >#</th>
                        <th scope="col" class="col-6">Name</th>
                        <th scope="col" class="col-2">Category</th>                            
                        <th scope="col" class="col-2">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all_products %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ product.product_name }}</td>
                            {% if product.category %}
                            <td>{{ product.category }}</td>                            
                            {% else %}
                            <td>Uncategorized</td>
                            {% endif %}
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'product-update' product.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'product-delete' product.id %}">Del</a>
                        </td>
                    </tr>
                    {% endfor %}                        
                    
                </tbody>
            </table>
            
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if all_products.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link"> &laquo; First </a></li>
                    <li class="page-item"><a href="?page={{all_products.previous_page_number}}" class="page-link">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link"> &laquo; First </a></li>
                    <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Page {{all_products.number}} of {{all_products.paginator.num_pages}}</a>                        
                    </li>
                    
                    {% if all_products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{all_products.next_page_number}}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{all_products.paginator.num_pages}}">Last &raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>            
        </div>
    </div>    
</div>
<!--End Table-->
{% else %}
{% endif %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
{% endblock %}