{% extends 'partials/base.html' %}
{% block title %} Formulario de prueba custom save {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Menu
                </div>
                <div class="card-body">
                    <a class="btn btn-info btn-block" href="{% url 'index' %}">Home</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    New order
                </div>
                <div class="card-body">
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Order description</label>
                            <input type="text" class="form-control" id="description" placeholder="Enter the description, ex: Order for customer #123" name="description">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="formGroupExampleInput">Product</label>
                                <select class="form-control" name="products">
                                    <option>Default select</option>
                                    <option value="1">Tubo de 10"</option>
                                    <option value="2">Tubo de 12"</option>
                                    <option value="3">Tubo de 14"</option>
                                    <option value="4">Tubo de 16"</option>                                        
                                </select>
                            </div>
                            <div class="col">
                                <label for="formGroupExampleInput">Quantity</label>
                                <input type="number" class="form-control" placeholder="" name="quantities">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="formGroupExampleInput">Product</label>
                                <select class="form-control" name="products">
                                    <option>Default select</option>
                                    <option value="1">Tubo de 10"</option>
                                    <option value="2">Tubo de 12"</option>
                                    <option value="3">Tubo de 14"</option>
                                    <option value="4">Tubo de 16"</option>                                        
                                </select>
                            </div>
                            <div class="col">
                                <label for="formGroupExampleInput">Quantity</label>
                                <input type="number" class="form-control" placeholder="" name="quantities">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="formGroupExampleInput">Product</label>
                                <select class="form-control" name="products">
                                    <option>Default select</option>
                                    <option value="1">Tubo de 10"</option>
                                    <option value="2">Tubo de 12"</option>
                                    <option value="3">Tubo de 14"</option>
                                    <option value="4">Tubo de 16"</option>                                        
                                </select>
                            </div>
                            <div class="col">
                                <label for="formGroupExampleInput">Quantity</label>
                                <input type="number" class="form-control" placeholder="" name="quantities">
                            </div>
                        </div>
                                                                        
                        description: {{description}}
                        <br>
                        productos: {{products}}<br>                        
                        <br>
                        cantidades: {{quantities}}
                        <br>
                        usuario: {{user}}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        
                    </form>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}