{% extends 'partials/base.html' %}
{% block title %} Formulario de prueba custom save {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Menu
                </div>
                <div class="card-body">
                    <a class="btn btn-info btn-block" href="{% url 'index' %}">Home</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    New order
                </div>
                <div class="card-body">
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Order description</label>
                            <input type="text" class="form-control" id="description" placeholder="Enter the description, ex: Order for customer #123" name="description">
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <label for="formGroupExampleInput">Product</label>
                                <select class="form-control" name="products">
                                    <option>Default select</option>
                                    {% for product in list_products%}
                                    <option value="{{product.id}}">{{product.product_name}}</option>                                    
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label for="formGroupExampleInput">Quantity</label>
                                <input type="number" class="form-control" placeholder="" name="quantities">
                            </div>
                        </div>
                        
                        
                        <div id="moreproducts">
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="reset" class="btn btn-danger">Clear</button>
                                <button type="button" onclick="moreProductsFields()" class="btn btn-secondary">Add product</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function moreProductsFields(){
        // grab the created div to append the js items
        a = document.getElementById("moreproducts")
        // create first div class row
        row = document.createElement("div")
        row.setAttribute("class", "row")        
        // create second div class col
        col1 = document.createElement("div")
        col1.setAttribute("class", "col")
        // create select to show products
        d = document.createElement("select")
        d.setAttribute("class", "form-control")
        d.setAttribute("name", "products")
        
        d.options[d.options.length] = new Option("Defaul select")
        {% for product in list_products %}
        d.options[d.options.length] = new Option("{{product.product_name}}","{{product.id}}")
        {% endfor %}
        // start append children to do the structure of html
        label1 = document.createElement("label")
        label1.setAttribute("for", "formGroupExampleInput")
        label1.innerHTML = "Product"

        col1.appendChild(label1)
        col1.appendChild(d)
        // row.appendChild(c)
        // start second div row
        col2 = document.createElement("div")
        col2.setAttribute("class", "col")

        f = document.createElement("label")
        f.setAttribute("for", "formGroupExampleInput")
        f.innerHTML = "Quantity"

        g = document.createElement("input")
        g.setAttribute("type", "number")
        g.setAttribute("class", "form-control")
        g.setAttribute("name", "quantities")

        col2.appendChild(f)
        col2.appendChild(g)

        row.appendChild(col1)
        row.appendChild(col2)

        a.appendChild(row)        

    }
</script>

{% endblock %}