{% extends 'partials/base.html' %}
{% block title %} Review Order {% endblock %}

{% block content %}

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<div class="container">
    
    <div class="col-md-12">
        <br>
        <div class="card">
            <div class="card-header">
                Review order
            </div>
            <div class="card-body">
                
                {% if message_successfull %}
                
                <div class="alert alert-info">
                    <h5>{{ message_successfull}}</h5>
                </div>
                
                {% endif %}
                
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">Order description</label>
                        <input type="text" class="form-control" id="validationCustom01" name="description" value="{{ order.description }}" required>
                    </div>
                    {% for product in products %}
                    <div class="row">
                        <div class="col-7">
                            <label for="formGroupExampleInput">Product</label>                            
                            <select class="form-control" name="products" required>
                                <!-- <option disabled selected value> -- select a product -- </option> -->
                                {% for prod in all_products %}
                                    {% if product.id == prod.id %}
                                    <option value="{{product.id}}">{{product.product_name}}</option>
                                    {% endif %}

                                {% endfor %}

                                <option value="{{product.id}}">{{product.product_name}}</option>                                
                            </select>                            
                        </div>
                        <div class="col-3">
                            <label for="formGroupExampleInput">Quantity</label>
                            <input type="number" class="form-control" placeholder="" name="quantities" required>
                        </div>
                        <div class="col-2 align-bottom">                              
                        </div>
                    </div>
                    {% endfor %}                      
                    
                    <div id="moreproducts">
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-success">Approve</button>                            
<!-- <button type="button" onclick="moreProductsFields()" class="btn btn-secondary">Add product</button> -->
                        </div>
                    </div>                        
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function moreProductsFields(){
        // grab the created div to append the js items
        a = document.getElementById("moreproducts")
        // create first div class row
        row = document.createElement("div")
        row.setAttribute("class", "row")        
        // create second div class col
        col1 = document.createElement("div")
        col1.setAttribute("class", "col-7")
        // create select to show products
        d = document.createElement("select")
        d.setAttribute("class", "form-control")
        d.setAttribute("name", "products")
        d.setAttribute("required", "")
        
        selectedOption = document.createElement("option")
        selectedOption.innerHTML = "-- select a product --"
        selectedOption.value = ""
        selectedOption.disabled = true
        selectedOption.selected = true
        
        d.appendChild(selectedOption)
        
        // d.options[d.options.length] = new Option("-- select a product --")
        {% for product in list_products %}
        d.options[d.options.length] = new Option("{{product.product_name}}","{{product.id}}")
        {% endfor %}
        // start append children to do the structure of html
        label1 = document.createElement("label")
        label1.setAttribute("for", "formGroupExampleInput")
        label1.innerHTML = "Product"
        
        col1.appendChild(label1)
        col1.appendChild(d)
        // row.appendChild(c)
        // start second div row
        col2 = document.createElement("div")
        col2.setAttribute("class", "col-3")
        
        f = document.createElement("label")
        f.setAttribute("for", "formGroupExampleInput")
        f.innerHTML = "Quantity"
        
        g = document.createElement("input")
        g.setAttribute("type", "number")
        g.setAttribute("class", "form-control")
        g.setAttribute("name", "quantities")
        g.setAttribute("required", "")
        
        col2.appendChild(f)
        col2.appendChild(g)
        // start building the 3rd column, the delete icon
        col3 = document.createElement("div")
        col3.setAttribute("class", "col-2")
        
        br = document.createElement("hr")
        br.setAttribute("style", "border-color:white")
        
        span1 = document.createElement("span")
        span1.setAttribute("class", "glyphicon glyphicon-remove")
        span1.setAttribute("aria-hidden", "true")
        
        strong1 = document.createElement("strong")
        strong1.innerHTML = "Delete"
        
        span2 = document.createElement("span")
        span2.appendChild(strong1)
        
        adelete = document.createElement("a")
        adelete.setAttribute("href", "#")
        adelete.setAttribute("class", "btn btn-danger a-btn-slide-text")
        adelete.setAttribute("onclick", "delete_row(this)")
        adelete.appendChild(span1)
        adelete.appendChild(span2)
        
        col3.appendChild(br)        
        col3.appendChild(adelete)
        
        row.appendChild(col1)
        row.appendChild(col2)
        row.appendChild(col3)
        
        a.appendChild(row)
        
    }
    
    function delete_row(e){
        e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
    };
    
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    
</script>

{% endblock %}