{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}


<div class="container">
    
        <div class="col-md-12">
            <br>
            <div class="card">
                <div class="card-header">
                    All Staff Members
                </div>
                <div class="card-body">

                    <table class="table bg-white">
                        <thead class="bg-info">
                            <tr class="text-white">
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col">Type</th>
                                <!-- <th scope="col">Orders</th>
                                <th scope="col">Actions</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.first_name}} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                {% if user.is_staff and user.is_superuser %}
                                <td>Admin</td>                            
                                {% elif user.is_staff%}
                                <td>Supervisor</td>
                                {% else %}
                                <td>Staff</td>
                                {% endif %}
                                <!-- <td><a class="" href="">View Orders</a></td>
                                <td scope="row"><a class="btn btn-info btn-sm" href="">View</a></td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>


<!--End Table-->
{% endblock %}